@use "_components.scss";

.content {
  width: 80%;
  max-width: 300px;
  margin: 30px auto 40px;

  .goBack {
    @include components.button;
    text-align: center;
    margin-top: 10px;
  }
}
