@use "_components.scss";

.form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  label {
    @include components.inputLabel;
  }
  input {
    @include components.input;
    margin-bottom: 10px;
  }
  select {
    @include components.input;
    margin-bottom: 10px;
  }
  button {
    @include components.button;
    margin-top: 10px;
  }

  .error {
    @include components.inputError;
    margin-top: -5px;
    margin-bottom: 5px;
  }
}
