@use "_components.scss";

.content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .label {
    color: gray;
    font-size: 0.8em;
  }
  .field {
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    padding: 3px;
  }
}
