@use "_components.scss";

.contactEntry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 10px 20px;

  .contactName {
    margin-right: auto;
  }

  .contactCategory {
    margin-left: 20px;
  }

  .detailsButton {
    margin-left: 20px;
    @include components.button;
  }

  .deleteButton {
    margin-left: 10px;
    @include components.deleteButton;
  }
}
