@use "_components.scss";

.content {
  width: 80%;
  max-width: 600px;
  margin: 30px auto 40px;

  .addContactButton {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 200px;
    @include components.button;
  }
}
